allow init self:capability sys_module;
allow init fuse:dir mounton;
allow init kernel:system syslog_read;
allow init sysfs_hardware:file rw_file_perms;
