allow untrusted_app toolbox_exec:file {execute_no_trans getattr execute read open};
allow untrusted_app alarm_device:chr_file write;
allow untrusted_app bluetooth_data_file:dir getattr;
allow untrusted_app radio_data_file:dir getattr;
allow untrusted_app system_app_data_file:dir getattr;
allow untrusted_app unlabeled:dir search;

allow untrusted_app akmd8975_exec:file { getattr read open };
allow untrusted_app bootanim_exec:file { getattr read open };
allow untrusted_app clatd_exec:file { getattr read open };
allow untrusted_app debuggerd_exec:file { getattr read open };
allow untrusted_app dhcp_exec:file { getattr read open };
allow untrusted_app dnsmasq_exec:file { getattr read open };
allow untrusted_app drmserver_exec:file { getattr read open };
allow untrusted_app dumpstate_exec:file { getattr read open };
allow untrusted_app gpsd_exec:file { getattr read open };
allow untrusted_app hostapd_exec:file { getattr read open };
allow untrusted_app imcdownload_app_exec:file { getattr read open };
allow untrusted_app injection_nv_exec:file { getattr read open };
allow untrusted_app installd_exec:file { getattr read open };
allow untrusted_app keystore_exec:file { getattr read open };
allow untrusted_app lmkd_exec:file { getattr read open };
allow untrusted_app logd_exec:file { getattr read open };
allow untrusted_app mdnsd_exec:file { getattr read open };
allow untrusted_app mediaserver_exec:file { getattr read open };
allow untrusted_app mtp_exec:file { getattr read open };
allow untrusted_app netd_exec:file { getattr read open };
allow untrusted_app ppp_exec:file { getattr read open };
allow untrusted_app pvrsrvinit_exec:file { getattr read open };
allow untrusted_app racoon_exec:file { getattr read open };
allow untrusted_app rild_exec:file { getattr read open };
allow untrusted_app sdcardd_exec:file { getattr read open };
allow untrusted_app servicemanager_exec:file { getattr read open };
allow untrusted_app surfaceflinger_exec:file { getattr read open };
allow untrusted_app sysinit_exec:file { getattr read open };
allow untrusted_app tee_exec:file { getattr read open };
allow untrusted_app uncrypt_exec:file { getattr read open };
allow untrusted_app userinit_exec:file { getattr read open };
allow untrusted_app vdc_exec:file { getattr read open };
allow untrusted_app vold_exec:file { getattr read open };
allow untrusted_app wpa_exec:file { getattr read open };
allow untrusted_app setup_fs_exec:file { getattr read open };
allow untrusted_app smc_pa_exec:file { getattr read open };
